version: "3"
services:
  mongodb:
    image: mongo:latest
    container_name: flowboard-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  web:
    build: .
    ports:
      - "3000:3000"
    environment:
      - MONGO_URI=mongodb://mongodb:27017/taskflow
      - NEXT_PUBLIC_APP_URL=http://localhost:3000
    depends_on:
      - mongodb

volumes:
  mongo-data:
